$PROJDIR/Temp/
$PROJDIR/Library/
$PROJDIR/obj/
 
*.DS_store
UnityVS*

/*.*
Temp/
Temp.meta
/Library
/obj
/Build

!.gitignore

*.mdb
*.mdb.meta

*BetterEditorPrefs.asset
ProjectSettings*
Assets/Plugins/Editor/ConsolePro*
Assets/Plugins/Editor/UnityVS*
*.meta