*BetterEditorPrefs.asset
ProjectSettings*
Assets/Plugins/Editor/ConsolePro*
Assets/Plugins/Editor/UnityVS*

*Temp*
Obj/
UnityGenerated/
/Library/
Assets/AssetStoreTools*

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Assets/Temp.meta
Rebracer.xml
pc_Data/
pc.exe
UnityVS.config
